services:
    db:
        image: postgres:18
        shm_size: 128mb
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres
        ports:
            - 5432:5432
        volumes:
            - ./postgresql:/var/lib/postgresql
